.hero-container{
    position: relative;
    height: 100vh;
    background-image: url(Fire_team_picture.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-attachment: fixed;
    }
    
    .hero-container::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
    
    .hero-text{
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
      color: white;
      z-index: 1;
    }
    
    .hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding-left: 2rem;
    }
    
    .hero-text h2 {
      font-size: 2rem;
      font-weight: normal;
      margin-top: 10px;
      padding-left: 2rem;
      width: 80%;
    }
    