/* All Styling of HCD Page */
.entire-Container {
  width: 100%;
  background-color: white;
  color: #111827; 
  position: relative;
}

.head-Banner {
  width: 100%;
  background: linear-gradient(
    to right,
    #047857, 
    #059669, 
    #0d9488  
  );
  padding-top: 3.5rem; 
  padding-bottom: 3.5rem;
  text-align: center;
  color: #ffffff; 
  display: block;
}

.header-Font-Styling {
  font-size: 52px;     
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #fff;
}

.header-Sub-Paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;              
  max-width: 48rem;              
  font-size: 1.1rem;              
  line-height: 1.625;           
  color: rgba(255, 255, 255, 0.9); 
}

.header-Sub-Bold {
  font-weight: 600;   
}

.first-Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;       
  padding-left: 1.5rem;   
  padding-right: 1.5rem;
}

.white-Box {
  position: relative;
  margin-top: -3rem;            
  border-radius: 1rem;          
  background-color: #ffffff;   
  padding: 1.5rem;              
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
  box-sizing: border-box;
  border: 1px solid #f5f5f5;    
}

.subheading {
  font-size: 2rem;         
  line-height: 2rem;
  font-weight: 600;          
  color: #065f46;            
  text-align: center;       
}

.white-Box-Text {
  margin-top: 0.8rem;         
  color: #374151;              
  line-height: 1.625;          
  font-size: 1rem;        
  text-align: center;          
}

.second-Container {
  max-width: 72rem;       
  margin-left: auto;      
  margin-right: auto;
  padding-left: 1.75rem;  
  padding-right: 1.75rem;
  padding-top: 5rem;      
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;              
}

.top-Capsules-Container {
  display: flex;             
  justify-content: center;    
  gap: 2.5rem;                
  margin-top: 2rem;           
}

.top-Capsule {
  display: flex;             
  flex-direction: column;     
  align-items: center;        
  gap: 0.75rem;               
  flex-shrink: 0;             
  width: 15rem;            
}

.top-Capsules-Styling {
  height: 3rem;              
  width: 13rem;              
  background-color: #10b981;    
  border-radius: 9999px;        
  transition: transform 0.3s;   
  cursor: pointer;              
  display: flex;                
  align-items: center;          
  justify-content: center;      
}

.top-Capsules-Styling:hover{
  transform: scale(1.1);       
}

.capsule-Header {
  color: #ffffff;       
  font-size: 1.5rem;   
  line-height: 2.25rem;  
  font-weight: 600;      
}

.capsule-Dropdown {
  margin-top: 0.5rem;               
  max-width: 36rem;                 
  background-color: #ffffff;        
  border-radius: 1rem;              
  padding: 1.25rem;                 
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);  /* shadow-md */
  border: 1px solid #f3f4f6;       
  color: #1f2937;                   
  line-height: 1.625;               
  font-size: 0.875rem;              
}

.bullet-Point-List {
  list-style-type: disc;        
  padding-left: 1.5rem;         
  color: #424242;               
  margin-top: 1rem;
  text-align: left;             
  display: flex;
  flex-direction: column;
  gap: 0.75rem;                 
}

.topTwo-Capsules-Styling {
  height: 3rem;              
  width: 13rem;              
  background-color: #14b8a6;    
  border-radius: 9999px;        
  transition: transform 0.3s;   
  cursor: pointer;              
  display: flex;                
  align-items: center;          
  justify-content: center;      
}

.topTwo-Capsules-Styling:hover {
  transform: scale(1.1);        
}

.bottom-Info-Holder {
  margin-top: 2.5rem;   
  width: 100%;          
  display: flex;       
  justify-content: center; 
}

.bottom-Content-Box {
  width: 100%;                    
  max-width: 42rem;                
  background-color: white;         
  
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
  
  border: 1px solid #e5e7eb;       
  border-radius: 0.75rem;          
  padding: 2rem;                   
}

.paragraph-Margin {
  margin-top: 2rem; 
}

.third-Container {
  max-width: 72rem;       
  margin-left: auto;      
  margin-right: auto;
  padding-left: 1.75rem;  
  padding-right: 1.75rem;
  padding-top: 12rem;      
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;              
}

.fourth-Container {
  max-width: 72rem;       
  margin-left: auto;      
  margin-right: auto;
  padding-left: 1.75rem;  
  padding-right: 1.75rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;              
}

.quiz-Title-Container {
  max-width: 72rem;       
  margin-left: auto;      
  margin-right: auto;
  padding-left: 1.75rem;  
  padding-right: 1.75rem;
  padding-top: 6rem;      
  display: flex;
  flex-direction: column;
  gap: 4rem;              
}

.quiz-Container {
  padding: 2rem;
}

.subheading2 {
  font-size: 1.5rem;         
  line-height: 2rem;
  font-weight: 600;          
  color: #065f46;            
}

.list {
    list-style: none;
    padding-left: 0;
    margin-top: 1.5rem;
}

.scroll-Up-Button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  background-color: #059669;
  color: white;
  border-radius: 9999px;
  padding: 0.75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
              0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

.scroll-Up-Button:hover {
  background-color: #047857;
}

.scroll-Up-Size {
  width: 1.25rem; 
  height: 1.25rem; 
}